@{
    ViewData["Title"] = "Submitted Claims";
}

<h2>Submitted Claims</h2>

<!-- Display a list of submitted claims -->
<!-- Example: -->
<table class="table">
    <thead>
        <tr>
            <th>Claim ID</th>
            <th>Lecturer Name</th>
            <th>Module</th>
            <th>Programme</th>
            <th>Hours Worked</th>
            <th>Hourly Rate</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <!-- Rows would be generated here from a list of submitted claims -->
    </tbody>
</table>
